<h1>HTS Classifications</h1>

<table>
  <% @htscdts.each do |htscdt| %>
  <tr class="list_line">
    <td> <%= image_tag(htscdt.image_url, class: 'list_image') %> </td>
    <td class="list_columns">
      <dl>
        <dt><%= htscdt.htsus %></dt>
        <dd><%= htscdt.inv_description %></dd>
        <dd><%= htscdt.gen_eng_description %></dd>
        <dd><%= htscdt.gen_esp_description %></dd>
      </dl>
    </td>

    <td class="list_columns">
      <dl>
        <dt><%= htscdt.author %></dt>
        <dd><%= htscdt.verified_by %></dd>
        <dd><%= htscdt.legal_authority %></dd>
        <dd><%= link_to 'Link', htscdt.comments, :target => "_blank" %></dd>
      </dl>
    </td>

    <td class="list_columns">
      <dl>
        <dt><%= htscdt.early_triggers %></dt>
        <dd><%= htscdt.date %></dd>
        <dd><%= htscdt.confidence %></dd>
      </dl>
    </td>

    <td class="list_actions">
      <%= link_to 'Show', htscdt %><br/>
      <%= link_to 'Edit', edit_htscdt_path(htscdt) %><br/>
      <%= link_to 'Destroy', htscdt, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New HTSCDT', new_htscdt_path %>