<p id="notice"><%= notice %></p>

<p>
  <strong>Htsus:</strong>
  <%= @htscdt.htsus %>
</p>

<p>
  <strong>Date:</strong>
  <%= @htscdt.date %>
</p>

<p>
  <strong>Author:</strong>
  <%= @htscdt.author %>
</p>

<p>
  <strong>Verified by:</strong>
  <%= @htscdt.verified_by %>
</p>

<p>
  <strong>Inv description:</strong>
  <%= @htscdt.inv_description %>
</p>

<p>
  <strong>Gen eng description:</strong>
  <%= @htscdt.gen_eng_description %>
</p>

<p>
  <strong>Gen esp description:</strong>
  <%= @htscdt.gen_esp_description %>
</p>

<p>
  <strong>Early triggers:</strong>
  <%= @htscdt.early_triggers %>
</p>

<p>
  <strong>Legal authority:</strong>
  <%= @htscdt.legal_authority %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @htscdt.comments %>
</p>

<p>
  <strong>Confidence:</strong>
  <%= @htscdt.confidence %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @htscdt.image_url %>
</p>

<%= link_to 'Edit', edit_htscdt_path(@htscdt) %> |
<%= link_to 'Back', htscdts_path %>
