<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h1>HTSUS Catalog</h1>

<% cache ['catalog', Htscdt.latest] do %>
	<% @htscdts.each do |htscdt| %>
		<% cache ['entry', htscdt] do %>
			<div class="entry">
				<%= image_tag(htscdt.image_url) %>
				<div class="htsus">
					<h3><%= link_to htscdt.htsus, htscdt %><br/> <%=  %></h3>
				</div>
				<div class="title">
					<h4><%= htscdt.gen_eng_description %></h4>
				</div>
				<div class="price_line">
					<span class="price"><%= htscdt.inv_description %></span>
        	<span class="price"><%= htscdt.gen_esp_description %></span>
      	</div>
      	<%= sanitize(htscdt.comments) %>	
				<div class="price_line">
					<span class="info"><%= htscdt.author %> | </span>
					<span class="info"><%= htscdt.verified_by %> | </span>
					<span class="info"><%= htscdt.date.to_time.strftime('%B %e %Y') %></span>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>