<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h1>HTSUS Catalog</h1>

<% cache ['catalog', Htscdt.latest] do %>
	<% @htscdts.each do |htscdt| %>
		<% cache ['entry', htscdt] do %>
			<div class="entry">
				<%= image_tag(htscdt.image_url) %>
				<div class="htsus">
					<h3><%= htscdt.htsus %></h3>
				</div>
				<div class="title">
					<h4><%= htscdt.gen_eng_description %></h4>
				</div>
				<%= sanitize(htscdt.comments) %>
				<div class="price_line">
					<span class="price"><%= htscdt.author %></span>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>
